html
    head 
        link(href='css/style.min.css')
    body 
        include html/header 
        main.page 
            h1 "Pug!"
            img(src="@img/cover.jpg")
        include html/footer 
        script(src='js/app.min.js')